<!DOCTYPE html>
<html lang="en">
    <head>
        <title>homepage</title>
        <meta name="dj4e" content="488fbc61af44741162461bf624804d4c">
    </head>
    <body>
        <ul>
            <li>
                <p>
                    <a href="/polls">A Polls Application</a>
                    <ul>
                    <li><p><a href="/hello">Test the session</a></p></li>
                    <li><a href="/autos">Autos CRUD</a></li>
                    </ul>
                    <!-- 488fbc61 -->
                </p>
            </li>
        </ul>
    </body>
</html>
